
@using Studio.Application.Employees.Queries.GetPageEmployeeById;
@using Studio.Application.Appointments.Commands.Create;
@using Microsoft.AspNetCore.Identity;
@using Studio.Domain.Entities;
@model EmployeeAppointmentDto;
@inject UserManager<StudioUser> UserManager

@{
    ViewData["Title"] = "Workspace";
    EmployeeProfileViewModel employee = Model.EmployeeProfileViewModel;
    CreateAppointmentCommand appointment = Model.CreateAppointmentCommand;
}
<partial name="_Header" />
<main>
<div class="text-center">
    <h1 class="display-4">@employee.FirstName</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Appointment" asp-action="Create" method="post" id="FormAppointment">
            <h4>Create a new Appointment.</h4>
            <hr />
            <label>Reservation Date</label>
            <input id="ReservationDate" name="ReservationDate" type="date" asp-format="dd-MM-yyyy" class="form-control" />
            <label>Service</label>
            <select id="ServiceId" name="ServiceId" class="browser-default custom-select">
                <option value="0">Избери услуга</option>
                @foreach (var service in @employee.Services)
                {
                    <option value="@service.ServiceId" duration="@service.Duration">@service.ServiceName - @service.Price лв.</option>
                }
            </select>
            <label>TimeBlockHelper</label>
            <select id="TimeBlockHelper" name="TimeBlockHelper" class="browser-default custom-select"></select>    
            <label>Comment</label>
            <input id="Comment" name="Comment" class="form-control" />
            
            <input id="EmployeeId" name="EmployeeId" class="form-control" value="@employee.Id"  type="hidden" />
            <input id="UserId" name="UserId" class="form-control" value="@UserManager.GetUserId(this.User)" type="hidden" />           
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div> 
</main>

@section Scripts{
<environment include="Development,Staging,Production">
    <script src="~/js/appointment.js"></script>
</environment>
}