@using Studio.Application.Locations.Queries.GetFilteredLocations;
@model LocationsFilteredListViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_HeaderIndex" />

<main>
<div class="search">
    <div class="container">
        <div class="row">
        <form asp-controller="Location" asp-action="All" method="get">
            <div class="col-xs-12 col-sm-6 col-md-3">            
                <div class="input-town">
                    <select class="custom-select" name="cityId" >
                        <option value="0" selected>Град</option>
                        <vc:cities-names></vc:cities-names>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="beauty-saloon">
                    <input type="text" placeholder="Име на студиото" name="studioName">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="procedure">
                    <input type="text" placeholder="Процедура" name="serviceName">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 search-saloon">
                <input type="submit" value="ТЪРСИ">
            </div>
            </form>
                
        </div>
    </div>
</div>

<div class="all-studios">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col col-sm-6">
                <span class="studio">СТУДИЯ</span>
            </div>
            <div class="col-xs-12 col col-sm-6 view-studios">
                <a class="view-all-studios" asp-controller="Location" asp-action="All" title="Виж всички студия">Виж всички студия</a>
            </div>
        </div>
        <div class="row">
            @foreach (var location in Model.Locations)
            {
             <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="studio-info-box">
                    <img class="studio-photo" src="~/img/locations/@location.Id/1.jpg" alt="location-photo" />
                    <h2 class="studio-name">@location.Name</h2>
                    <div class="studio-info-wrapper">
                        <p class="studio-address">@location.Address</p>
                        <p class="studio-hw">@location.StartDay.Substring(0, 3) - @location.EndDay.Substring(0, 3) @location.StartHour - @location.EndHour</p>
                        <p class="studio-phone">@location.Phone</p>
                    </div>
                    <a asp-controller="Location" asp-action="Studio" asp-route-id="@location.Id" class="make-app" title="Резервирай">Резервирай</a>
                </div>
            </div>
            }         
        </div>
    </div>
</div>

<div class="about-us-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col col-sm-6">
                <span class="studio">Какво е Studioto.bg?</span>
            </div>
            <div class="col-xs-12 col col-sm-6 learn-more-box">
                <a class="read-more" asp-controller="Home" asp-action="About" title="Научете още">Научете още</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="about-us-box">
                    <h3>Studioto.bg е първия в България <span>портал за резервация на  козметични услуги!</span></h3>
                    <br />
                    <p>Със studioto.bg можете да направите стандартна резервация в любимото студио за красота или козметичен салон. Това, което прави платформата уникална е, че можете да запазите час изцяло онлайн без да се налага да звъните по телефона. Освен това, можете да намерите всички студиа в платформата на едно място!</p>
                </div>
            </div>
            <div class="col-xs-12 col-xs-12 col-md-6 col-md-offset-1">
                <img src="~/img/index/header-background.jpg" alt="За нас" />
            </div>
        </div>
    </div>
</div>

<div class="makeapp-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col col-sm-6">
                <span class="studio">Как да резервирам?</span>
            </div>
            <div class="col-xs-12 col col-sm-6 learn-more-box">
                <a class="read-more" asp-controller="Home" asp-action="Steps" title="Научете още">Научете още</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-xs-12 col-md-6 reservation-box">
                <img src="~/img/index/reservation.jpg" alt="Резервация" />
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <div class="makeapp-box">
                    <h3>Studioto.bg е изключително лесен и удобен портал, <span>чрез който правите резервация!</span></h3>
                    <br/>
                    <p>Срещу само няколко бързи стъпки можете да направите резервация в любимото студио. Екипът на studioto.bg се е постарал това да става за максимално кратко време. Опитай и ти, става само за няколко минути.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="slideshow-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="slideshow-span">
                    <span id="Comments">Клиентите за нас</span>
                </div>
                <div class="mySlides">
                    <q>Изключително доволни сме, че можем да използваме нещо толкова практично в работата си. Studioto.bg ни помогна не само да повишим качеството на нашите услуги, но и да привлечем нови клиенти.</q>
                    <p class="author">- Красимир Райков (Козметично студио "Дийп")</p>
                </div>

                <div class="mySlides">
                    <q>Studioto.bg е една отлична възможност за реклама и контакти. Сега нашите клиенти са по-близо до нас от всякога. Благодарим ви!</q>
                    <p class="author">- Ирена Ангелова (Фризьорски салон "Ирен")</p>
                </div>

                <div class="mySlides">
                    <q>Точността за нас е от изключително значение, а това е свързано и със спокойствието на нашите служители. Studioto.bg ни даде всички тези неща.</q>
                    <p class="author">- Георги Гешев (Масажно студио "Релакс")</p>
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

            </div>
        </div>
    </div>
</div>


<div class="appointment-wrapper">
    <img class="makeapp-img" src="~/img/index/apple.png" alt="Резервация" />
    <div class="book-online-box">
        <img src="~/img/logo/logo-black.png" alt="Logo Image" />
        <p>Book online, enjoy at the place!</p>
        <a asp-controller="Location" asp-action="All" class="make-app" title="Резервирай">Резервирай</a>
    </div>
</div>
</main>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
    }
    </script>