@using Studio.Application.Appointments.Queries.GetAppointmentsByUserId;
@model AppointmentsProfileListViewModel;
@using Microsoft.AspNetCore.Identity;
@using Studio.Domain.Entities;
@inject UserManager<StudioUser> UserManager;

@{
    ViewData["Title"] = "Profile Details";
}
<partial name="_Header" />

<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 profile">
        <div class="col-xs-12 table">
            <h3>Настоящи резервации</h3>
@if (Model.NewAppointments.Count > 0) 
{
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Студио</th>
      <th scope="col">Служител</th>
      <th scope="col">Услуга</th>
      <th scope="col">Ден и час</th>         
      <th scope="col">Отмени резервация</th>  
    </tr>
  </thead>
  <tbody>
      @foreach (var appointment in Model.NewAppointments)
      {
        <tr>
            <td>@appointment.Id</td>
            <td>@appointment.LocationName</td>
            <td>@appointment.EmployeeNames</td>
            <td>@appointment.ServiceName</td>
            <td>@appointment.ReservationDate @appointment.ReservationTime</td>
            <td>
              <form asp-action="Delete" asp-controller="Appointment" method="post">
                <input type="hidden" name="id" value="@appointment.Id">
                <input type="hidden" name="userId" value="@UserManager.GetUserId(this.User)">
                <button type="submit" class="btn btn-primary">Отмени</button>
              </form>
            </td>
        </tr>
      }  
</table>
}
else 
{
    <h4>Нямате настоящи резервации</h4>
}
        </div>
        <div class="col-xs-12 table">
          <h3>Отминали резервации</h3>
@if (Model.OldAppointments.Count > 0) 
{
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Студио</th>
      <th scope="col">Служител</th>
      <th scope="col">Услуга</th>
      <th scope="col">Ден и час</th>     
    </tr>
  </thead>
  <tbody>
      @foreach (var appointment in Model.OldAppointments)
      {
        <tr>
            <td>@appointment.Id</td>
            <td>@appointment.LocationName</td>
            <td>@appointment.EmployeeNames</td>
            <td>@appointment.ServiceName</td>
            <td>@appointment.ReservationDate @appointment.ReservationTime</td>  
        </tr>
      }  
</table>
}
else 
{
    <h4>Нямате отминали резервации</h4>
}
        </div>
              </div>
    </div>
  </div>
  
</main>



